.Converters {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background-image-converters {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    display: flex;
    opacity: 0.5;
  }

  .first-table {
    position:relative;
    top: 0px;
    left: 1050px;
  }

  .second-table {
    position:relative;
    left: 1350px;
  }

  .third-table {
    position:relative;
    top: 310px;
    right: 150px;
  }

  .fourth-table {
    position:relative;
    top: 310px;
    right: -150px;
  }

  .fifth-table {
    position:relative;
    top: 620px;
    right: 1350px;
  }

  .sixth-table {
    position:relative;
    top: 620px;
    right: 1050px;
  }

  table {
    position: relative;
    border: 2px solid rgb(8, 157, 243);
    width: 600px;
    height: 250px;
    bottom: 260px;
    background-color: rgba(15, 14, 13, 0.322);
    margin-top: 20px;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }