.footer {
    background: -webkit-linear-gradient(90deg, rgb(12, 52, 182) 5%,rgb(17, 199, 255) 100%);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    height: 50px;
    display: flex;
}