.header {
    background: -webkit-linear-gradient(90deg, rgb(12, 52, 182) 5%,rgb(17, 199, 255) 100%);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2;
    position: sticky;
    top: 0;
}

.header-logo {
  margin-left: 10px;
  display: flex;
}


.header-links {
    color: white;
    text-decoration: none;
    text-align:center;
    font-family: 'Muli', sans-serif;
    display: flex;
    font-weight: 500;
    align-items: center;
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.header-links::before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

.header-links:hover {
  background-position: 0;
}

.header-links:hover::before {
  width: 100%;
}

.header-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 120px;
    width: 90vw;
    justify-content: end;
    margin-right: 25rem;
  }

  .header-item {
    display: flex;
    align-items: center;
    height: 80px;
  }


  .header-button {
    width: 110px;
    height: 35px;
    position: relative;
    right: 520px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: none;
    background-size: 200% 100%;
    border-radius: 20px;
  }
  
  .header-button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .header-button:focus {
    outline: none;
  }
  
  .header-button.btn {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }

  .header-button-calc {
    width: 110px;
    height: 35px;
    position: relative;
    right: 200px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: none;
    background-size: 200% 100%;
    border-radius: 20px;
  }
  
  .header-button-calc:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .header-button-calc:focus {
    outline: none;
  }
  
  .header-button-calc.btn {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }

  .header-button-login {
    width: 110px;
    height: 35px;
    position: relative;
    right: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: none;
    background-size: 200% 100%;
    border-radius: 20px;
  }

  .header-button-login:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .header-button-login:focus {
    outline: none;
  }
  
  .header-button-login.btn {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }

  .header-button-registration {
    width: 110px;
    height: 35px;
    position: relative;
    right: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: none;
    background-size: 200% 100%;
    border-radius: 20px;
  }

  .header-button-registration:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .header-button-registration:focus {
    outline: none;
  }
  
  .header-button-registration.btn {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }

  @media screen and (max-width: 960px) {
    .header-menu {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-gap: 20px;
      width: 150vw;
      justify-content: end;
      margin-right: 0rem;
    }

    .header-logo {
      margin-left: 10px;
      display: flex;
    }

    .header-button-registration {
      width: 70px;
      height: 35px;
      position: relative;
      right: 5px;
      font-size: 11px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      border: none;
      background-size: 200% 100%;
      border-radius: 20px;
    }

    .header-button-login {
      width: 70px;
      height: 35px;
      position: relative;
      right: 10px;
      font-size: 11px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      border: none;
      background-size: 200% 100%;
      border-radius: 20px;
    }

    .header-button-calc {
      width: 70px;
      height: 35px;
      position: relative;
      right: 0px;
      font-size: 11px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      border: none;
      background-size: 200% 100%;
      border-radius: 20px;
    }

    .header-button {
      width: 70px;
      height: 35px;
      position: relative;
      right: 170px;
      font-size: 11px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      border: none;
      background-size: 200% 100%;
      border-radius: 20px;
    }

    .header-menu {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-gap: 30px;
      width: 90vw;
      justify-content: end;
      margin-right: 7rem;
    }

    .header-links {
      color: white;
      text-decoration: none;
      text-align:center;
      font-family: 'Muli', sans-serif;
      display: flex;
      font-weight: 500;
      font-size: 15px;
      align-items: center;
      background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        #fff 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
  }
  }