.header {
    background: rgb(17, 199, 255);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1;
    position: sticky;
    top: 0;
}

.header-links {
    color: white;
    text-decoration: none;
}

.header-icon {
  display: none;
}

.header-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }

  .header-item {
    display: flex;
    align-items: center;
    height: 80px;
  }

  .header-links:hover {
    background: rgb(17, 199, 255);
    border-radius: 5px;
    transition: all 0.2s ease-out;
  }