.movedown-menu {
  background: rgb(17, 199, 255);
    width: 105px;
    position: absolute;
    top: 50px;
    list-style: none;
    text-align: start;
  }
  
  .movedown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }

  @media screen and (max-width: 960px) {
    .movedown-menu {
      background: rgb(17, 199, 255);
        width: 105px;
        top: 50px;
        list-style: none;
        text-align: start;
      }
  }