.photo_cards {
  height: 400px;
  width: 350px;
  position:relative;
  top: 10%;
  border: 1.5px solid #000000;
  transition: all 0.5s ease;
}

.photo_cards:hover {
  transform: scale(0.9);
  border-radius: 10px;
}
  
  h1 {
    position: relative;
    top: 20px;
    font-size: 21px;
    font-family:'Arial black';
    text-transform: uppercase;
    letter-spacing: 18px;
    text-align: center;
  }