.background-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  display: flex;
  opacity: 0.6;
}

.cards-image-information {
  background-color: rgba(0,0,0, 0.4);
  border: 4px solid #000000;
  position: fixed;
  top: 50%;
  left: 200px;
  height: 600px;
  width: 380px;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  backdrop-filter: blur(5px);
}

.cards-image-food {
  background-color: rgba(0,0,0, 0.4);
  border: 4px solid #000000;
  position: fixed;
  top: 50%;
  left: 635px;
  height: 600px;
  width: 380px;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  backdrop-filter: blur(5px);
}

.cards-image-calculator {
  background-color: rgba(0,0,0, 0.4);
  border: 4px solid #000000;
  position: fixed;
  top: 50%;
  left: 1070px;
  height: 600px;
  width: 380px;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  backdrop-filter: blur(5px);
}

.cards-image-login {
  background-color: rgba(0,0,0, 0.4);
  border: 4px solid #000000;
  position: fixed;
  top: 50%;
  left: 1505px;
  height: 600px;
  width: 380px;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  backdrop-filter: blur(5px);
}

.photo_cards {
  height: 400px;
  width: 350px;
  position:relative;
  top: 11%;
  border: 3px solid #000000;
  opacity: 0.9;
  transition: all 0.5s ease;
}

.photo_cards:hover {
  transform: scale(0.9);
}
  
  h1 {
    font-size: 50px;
    font-family: 'Open Sans Condensed';
    text-transform: uppercase;
  }
  

