.background-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  display: flex;
  opacity: 0.6;
}

.cards-image-information {
  background-color: rgba(0, 0, 0, 0.37);
  border: 3px solid #000000;
  position: fixed;
  top: 50%;
  left: 200px;
  height: 570px;
  width: 380px;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  backdrop-filter: blur(5px);
}

.cards-image-food {
  background-color: rgba(0, 0, 0, 0.37);
  border: 3px solid #000000;
  position: fixed;
  top: 50%;
  left: 635px;
  height: 570px;
  width: 380px;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  backdrop-filter: blur(5px);
}

.cards-image-calculator {
  background-color: rgba(0, 0, 0, 0.37);
  border: 3px solid #000000;
  position: fixed;
  top: 50%;
  left: 1070px;
  height: 570px;
  width: 380px;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  backdrop-filter: blur(5px);
}

.cards-image-login {
  background-color: rgba(0, 0, 0, 0.37);
  border: 3px solid #000000;
  position: fixed;
  top: 50%;
  left: 1505px;
  height: 570px;
  width: 380px;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  backdrop-filter: blur(5px);
}

.photo_cards {
  height: 400px;
  width: 350px;
  position:relative;
  top: 11%;
  border: 2px solid #000000;
  opacity: 0.9;
  transition: all 0.5s ease;
  border-radius: 20px;
}

.photo_cards:hover {
  transform: scale(0.9);
}
  
  h1 {
    position: relative;
    top: 20px;
    font-size: 25px;
    font-weight: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 15px;
  }
  
@media screen and (max-width: 900px) {

  .photo_cards {
    height: 200px;
    width: 200px;
    position:relative;
    top: 11%;
    border: 2px solid #000000;
    opacity: 0.9;
    transition: all 0.5s ease;
    border-radius: 20px;
  }

  .cards-image-information {
    background-color: rgba(0, 0, 0, 0.37);
    border: 3px solid #000000;
    position: fixed;
    top: 30%;
    left: 180px;
    height: 300px;
    width: 300px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    backdrop-filter: blur(5px);
  }

  .cards-image-food {
    background-color: rgba(0, 0, 0, 0.37);
    border: 3px solid #000000;
    position: fixed;
    top: 70%;
    left: 180px;
    height: 300px;
    width: 300px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    backdrop-filter: blur(5px);
  }

  .cards-image-calculator {
    background-color: rgba(0, 0, 0, 0.37);
    border: 3px solid #000000;
    position: fixed;
    top: 30%;
    left: 660px;
    height: 300px;
    width: 300px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    backdrop-filter: blur(5px);
  }
  
  .cards-image-login {
    background-color: rgba(0, 0, 0, 0.37);
    border: 3px solid #000000;
    position: fixed;
    top: 70%;
    left: 660px;
    height: 300px;
    width: 300px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    backdrop-filter: blur(5px);
  }

  h1 {
    position: relative;
    top: 20px;
    font-size: 20px;
    font-weight: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 13px;
  }
}

