.background-image-calculator {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    display: flex;
    opacity: 0.5;
}

  .calculator-desc-exchangers {
    position: relative;
    top: 120px;
    font-size: 1.8em;
    margin-left: 11em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    letter-spacing: 13px;
    text-transform: uppercase;
    cursor:default;
  }

  .calculator-desc-correct {
    font-size: 1.4em;
    margin-top: 3em;
    margin-left: 13.3em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    cursor:default;
    letter-spacing: 5px;
  }

  .calculator-desc-eat {
    font-size: 1.4em;
    margin-left: 20em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    cursor:default;
  }

  .calculator-desc-calculator {
    position: relative;
    top: 40px;
    font-size: 1.8em;
    margin-left: 38em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    cursor:default;
  }
  
  .correct-textarea {
    position: relative;
    top: 2px;
    left: 2px;
    width: 35px;
    height: 30px;
    cursor: text;
    resize: none;
    font-size: 16px;
    padding-top: 2px;
    padding-left: 9px;
    border-radius: 5px;
  }

  .first-breakfast {
    position: relative;
    top: 10px;
    left: 130px;
    width: 35px;
    height: 30px;
    cursor: text;
    resize: none;
    font-size: 16px;
    padding-top: 3px;
    padding-left: 5px;
    border-radius: 5px;
  }
  .first-breakfast-position {
    font-size: 0.78em;
    letter-spacing: 4px;
    margin-top: -40px;
    margin-left: -3em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    cursor:default;
  }

  .second-breakfast {
    position: relative;
    top: 10px;
    left: 130px;
    width: 35px;
    height: 30px;
    cursor: text;
    resize: none;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
  }
  .second-breakfast-position {
    font-size: 0.78em;
    letter-spacing: 4px;
    margin-top: -0.8em;
    margin-left: -3em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    cursor:default;
  }

  .lunch {
    position: relative;
    top: 10px;
    left: 130px;
    width: 35px;
    height: 30px;
    cursor: text;
    resize: none;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
  }
  .lunch-position {
    font-size: 0.78em;
    letter-spacing: 4px;
    margin-top: -0.8em;
    margin-left: -3em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    cursor:default;
  }

  .tea {
    position: relative;
    top: 10px;
    left: 130px;
    width: 35px;
    height: 30px;
    cursor: text;
    resize: none;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
  }
  .tea-position {
    font-size: 0.78em;
    letter-spacing: 4px;
    margin-top: -0.8em;
    margin-left: -3em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    cursor:default;
  }

  .first-dinner {
    position: relative;
    top: 10px;
    left: 130px;
    width: 35px;
    height: 30px;
    cursor: text;
    resize: none;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
  }
  .first-dinner-position {
    font-size: 0.78em;
    letter-spacing: 4px;
    margin-top: -0.8em;
    margin-left: -3em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    cursor:default;
  }

  .second-dinner {
    position: relative;
    top: 10px;
    left: 130px;
    width: 35px;
    height: 30px;
    cursor: text;
    resize: none;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
  }

  .second-dinner-position {
    font-size: 0.78em;
    letter-spacing: 4px;
    margin-top: -0.8em;
    margin-left: -3em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    cursor:default;
  }

  .sugar {
    position: relative;
    bottom: 460px;
    left: 1160px;
    width: 50px;
    height: 30px;
    cursor: text;
    resize: none;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
  }

  .sugar-position {
    position:fixed;
    bottom: 580px;
    padding-left: 900px;
    font-size: 22px;
    font-weight: 400;
    color: rgb(0, 0, 0);
  }

  .right-arrow {
    position:relative;
    bottom: 445px;
    left: 1220px;
    height: 50px;
    width: 100px;
  }

  .result-of-sugar-calc {
    position: relative;
    bottom: 510px;
    left: 1400px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 45px;
    font-weight: 400;
    color: rgb(0, 0, 0);
  }

  .exchangers-position-text {
    position:relative;
    bottom: 340px;
    padding-left: 900px;
    font-size: 21px;
    font-weight: 400;
    color: rgb(0, 0, 0);
  }

  .exchangers-input {
    position: relative;
    bottom: 380px;
    left: 1158px;
    width: 50px;
    height: 30px;
    cursor: text;
    resize: none;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
  }

  .exchangers-calc {
    position: relative;
    bottom: 430px;
    left: 1400px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 45px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    -webkit-appearance: none;
  }

  .right-arrow2 {
    position:relative;
    bottom: 480px;
    left: 1270px;
    height: 50px;
    width: 100px;
  }

  .plus {
    position:relative;
    left: 1420px;
    top: 125px;
    height: 50px;
    width: 50px;
  }

  .final-result {
    position:relative;
    bottom: 400px;
    padding-left: 1300px;
    font-size: 45px;
    font-weight: 400;
    color: rgb(0, 0, 0);
  }

  table {
    position: relative;
    border: 3px solid rgb(0, 0, 0);
    width: 400px;
    height: 400px;
    bottom: 230px;
    background-color: rgba(7, 7, 6, 0.397);
    margin-top: 280px;
    left: -160px;
    right: 80px;
    border-radius: 15px;
  }
    
  th {
    border-bottom: 2px solid black;
  }
    
  td {
    text-align: center;
  }