.Converters {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background-image-converters {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    display: flex;
    opacity: 0.5;
  }

  .first-table {
    position:relative;
    top: 0px;
    left: 1220px;
  }

  .second-table {
    position:relative;
    left: 1370px;
  }

  .third-table {
    position:relative;
    top: 350px;
    left: -80px;
  }

  .fourth-table {
    position:relative;
    top: 350px;
    right: -70px;
  }

  .fifth-table {
    position:relative;
    top: 700px;
    right: 1380px;
  }

  .sixth-table {
    position:relative;
    top: 700px;
    right: 1230px;
  }

  table {
    position: relative;
    border: 3px solid rgb(8, 157, 243);
    width: 650px;
    height: 300px;
    bottom: 260px;
    background-color: rgba(15, 14, 13, 0.397);
    margin-top: 20px;
    border-radius: 15px;
  }
    
  th {
    border-bottom: 2px solid black;
  }
    
  td {
    text-align: center;
  }