  .first-table-pos {
    position: relative;
    top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    opacity: 0.9;
    cursor: pointer;
  }

  th {
    text-align: center;
  }

  td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }