.info-photo {
  height: 700px;
  width: 400px;
  position: relative;
  bottom: 10%;
  left: 10%;
  transition: all 0.5s ease;
  cursor: pointer;
  border: 2px solid #000000e0;
}

.image__overlay {
  position: absolute;
  bottom: -6.5%;
  left: 10%;
  width: 400px;
  height: 698px;
  opacity: 0;
  transition: 1s;
  font-size: 10px;
  background-color: rgba(15, 14, 13, 0.651);
} 

 .image__overlay:hover {
  opacity: 1;
  transition: 1.2s;
}

.image__description {
  font-size: 1.59em;
  margin-top: 4em;
  margin-right: 5px;
  margin-left: 5px;
  color: rgb(255, 255, 255);
  line-height: 27px;
  cursor: pointer;
}


