.image-for-info {
        position: fixed;
        top: 50%;
        left: 200px;
        height: 600px;
        width: 380px;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-align: center;
}

.image-for-type {
  position: fixed;
  top: 50%;
  left: 800px;
  height: 600px;
  width: 380px;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.image-for-treatment {
  position: fixed;
  top: 50%;
  left: 1400px;
  height: 600px;
  width: 380px;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.info-photo {
  height: 700px;
  width: 400px;
  position:relative;
  bottom: 10%;
  left: 10%;
  opacity: 0.9;
  transition: all 0.5s ease;
  border-radius: 1%;
  cursor:auto;
  opacity: 1;
  border: 3px solid #000000e0;
}


.image__overlay {
  position: absolute;
  bottom: -7%;
  left: 10%;
  width: 400px;
  height: 700px;
  opacity: 0;
  transition: opacity 0.25s;
  font-size: 10px;
  background-color: rgba(15, 14, 13, 0.651);
  border-radius: 2%;
} 

.h2-position-info {
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: absolute;
  width: 350px;
  height: 650px;
  bottom: 0%;
  left: 15%;
}

.h2-position-type {
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: absolute;
  width: 350px;
  height: 650px;
  bottom: 0%;
  left: 15%;
}

.h2-position-treatment {
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: absolute;
  width: 350px;
  height: 650px;
  bottom: 0%;
  left: 15%;
}

 .image__overlay:hover {
  opacity: 1;
}

.image__description-info-for-informations {
  font-size: 1.59em;
  margin-top: 4em;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  cursor:default;
  line-height: 27px;
}

.image__description-info-for-types {
  font-size: 1.59em;
  margin-top:3em;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  cursor:default;
  line-height: 25px;
}

.image__description-info-for-treatment {
  font-size: 1.59em;
  margin-top: 4em;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  cursor:default;
  line-height: 25px;
}


