.glucometr-glucomaxxx-photo {
    height: 470px;
    width: 400px;
    position:relative;
    bottom: 10%;
    left: 9%;
    opacity: 0.9;
}

.glucometr-photo {
    height: 470px;
    width: 400px;
    position:relative;
    bottom: 74%;
    left: 9%;
    opacity: 0.9;
}

.h2-pos {
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  position: absolute;
  width: 350px;
  height: 350px;
  top: -13%;
  left: 17%;
}

  .image__description-glucosense {
    font-size: 1.00em;
    margin-top: 3.8em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    position: absolute;
    top: -15%;
    left: 17%;
    margin-left: 35px;
    margin-right: 10px;
  }

  .image__description-glucomaxxx {
    font-size: 1.00em;
    margin-top: 5.25em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 150px;
    left: 60px;
    margin-left: 35px;
    margin-right: 60px;
  }

  .image__description {
    font-size: 1.00em;
    margin-top: 5.25em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    position: absolute;
    top: -18%;
    left: 17%;
    bottom: 180px;
    margin-left: 35px;
    margin-right: 10px;
  }