.needles-photo {
    height: 300px;
    width: 300px;
    position:relative;
    bottom: 0%;
    left: 15%;
    opacity: 0.8;
}

.h2-position-needles {
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    position: absolute;
    width: 350px;
    height: 350px;
    bottom: 10%;
    left: 22%;
}

.image__description-needles {
    font-size: 1.00em;
    margin-top: 5.25em;
    font-weight: 400;
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 30px;
    left: 75px;
    margin-left: 35px;
    margin-right: 60px;
}