  .image__description-info {
    font-size: 1.2em;
    margin-top: 2.5em;
    font-weight: 100;
    color: rgb(0, 0, 0);
    cursor:default;
    position: relative;
    left: 300px;
    bottom: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .image__description-infoline-abbott {
    font-size: 1.2em;
    margin-top: 2.5em;
    font-weight: 100;
    color: rgb(0, 0, 0);
    cursor:default;
    position: relative;
    left: 300px;
    bottom: 180px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .image__description-2 {
    font-size: 1.2em;
    margin-top: 2.5em;
    font-weight: 100;
    color: rgb(0, 0, 0);
    cursor:default;
    position: relative;
    left: 300px;
    bottom: 130px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }