.image-for-infoline-roche {
    position: fixed;
    top: 49%;
    left: 600px;
    bottom: -100px;
    width: 380px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.image-for-infoline-ascensia {
    position: fixed;
    top: 49%;
    left: 600px;
    bottom: 120px;
    width: 380px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.image-for-infoline-abbott {
    position: fixed;
    top: 50%;
    left: 600px;
    bottom: 360px;
    width: 380px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.image-for-infoline-lifescan {
    position: fixed;
    top: 53%;
    left: 600px;
    bottom: 500px;
    width: 380px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.image-for-infoline-medtronic {
    position: fixed;
    top: 70%;
    left: 600px;
    bottom: 680px;
    width: 380px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.image-for-infoline-bioton {
    position: fixed;
    top: 85%;
    left: 600px;
    bottom: 680px;
    width: 380px;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.infoline-photo-roche {
    height: 50px;
    width: 50px;
    position:relative;
    bottom: 15%;
    left: 10%;
    opacity: 0.9;
    transition: all 0.5s ease;
    cursor:auto;
    opacity: 1;
  }

  .infoline-photo-ascensia {
    height: 50px;
    width: 50px;
    position:relative;
    bottom: 20%;
    left: 10%;
    opacity: 0.9;
    transition: all 0.5s ease;
    cursor:auto;
    opacity: 1;
  }

  .infoline-photo-abbott {
    height: 50px;
    width: 50px;
    position:relative;
    bottom: 80%;
    left: 10%;
    opacity: 0.9;
    transition: all 0.5s ease;
    cursor:auto;
    opacity: 1;
  }

  .infoline-photo-lifescan {
    height: 50px;
    width: 50px;
    position:relative;
    bottom: 12%;
    left: 10%;
    opacity: 0.9;
    transition: all 0.5s ease;
    cursor:auto;
    opacity: 1;
  }

  .infoline-photo-medtronic {
    height: 50px;
    width: 50px;
    position:relative;
    bottom: 12%;
    left: 10%;
    opacity: 0.9;
    transition: all 0.5s ease;
    cursor:auto;
    opacity: 1;
  }

  .infoline-photo-bioton {
    height: 50px;
    width: 50px;
    position:relative;
    bottom: 12%;
    left: 10%;
    opacity: 0.9;
    transition: all 0.5s ease;
    cursor:auto;
    opacity: 1;
  }

  .image__description-infoline-roche {
    font-size: 1.2em;
    margin-top: 2.5em;
    font-weight: 100;
    color: rgb(0, 0, 0);
    cursor:default;
    position: relative;
    left: 300px;
    bottom: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .image__description-infoline-ascensia {
    font-size: 1.2em;
    margin-top: 2.5em;
    font-weight: 100;
    color: rgb(0, 0, 0);
    cursor:default;
    position: relative;
    left: 300px;
    bottom: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .image__description-infoline-abbott {
    font-size: 1.2em;
    margin-top: 2.5em;
    font-weight: 100;
    color: rgb(0, 0, 0);
    cursor:default;
    position: relative;
    left: 300px;
    bottom: 180px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .image__description-infoline-lifescan {
    font-size: 1.2em;
    margin-top: 2.5em;
    font-weight: 100;
    color: rgb(0, 0, 0);
    cursor:default;
    position: relative;
    left: 300px;
    bottom: 130px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .image__description-infoline-medtronic {
    font-size: 1.2em;
    margin-top: 2.5em;
    font-weight: 100;
    color: rgb(0, 0, 0);
    cursor:default;
    position: relative;
    left: 300px;
    bottom: 130px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .image__description-infoline-bioton {
    font-size: 1.2em;
    margin-top: 2.5em;
    font-weight: 100;
    color: rgb(0, 0, 0);
    cursor:default;
    position: relative;
    left: 300px;
    bottom: 130px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }