.background-image-nutrition {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  display: flex;
  opacity: 0.5;
  }


  .h2-nutrition-how-to {
    color: rgb(255, 255, 255);
    text-shadow: .1em .2em .1em hsl(200 50% 30%);
    position: absolute;
    bottom: 85%;
    left:37%;
  }

  .h2-nutrition-what-and-when {
    color: rgb(255, 255, 255);
    text-shadow: .1em .2em .1em hsl(200 50% 30%);
    position: absolute;
    bottom: 90%;
    left:44%;
  }

  .p-nutrition {
    color: rgb(255, 255, 255);
    position: relative;
    padding-top: 5px;
    padding-left: 6px;
    font-weight: 200;
  }

  .p-nutrition-what-and-when {
    color: rgb(255, 255, 255);
    position: relative;
    font-weight: 100;
    top: 50px;
    margin-left: 20px;
  }

  .h2-border-how-to {
    border: 2px solid rgb(8, 157, 243);
    position: relative;
    width: 1125px;
    height: 250px;
    left: 300px;
    top: 20px;
    background-color: rgba(15, 14, 13, 0.322);
    z-index: -1;
  }

  .h2-border-what-and-when {
    border: 2px solid rgb(8, 157, 243);
    position: relative;
    width: 1125px;
    height: 450px;
    left: 300px;
    top: 50px;
    background-color: rgba(15, 14, 13, 0.582);
    z-index: -1;
  }

  .border-window-eat-five {
    border: 2px solid rgb(8, 157, 243);
    position: relative;
    width: 120px;
    height: 160px;
    left: 20px;
    top: 60px;
    background-color: rgba(15, 14, 13, 0.493);
    z-index: 1;
  }


  .border-window-how-to-cook {
    border: 2px solid rgb(8, 157, 243);
    position: relative;
    width: 300px;
    height: 160px;
    left: 150px;
    bottom: 100px;
    background-color: rgba(15, 14, 13, 0.493);
    z-index: 1;
  }

  .border-window-avoid {
    border: 2px solid rgb(8, 157, 243);
    position: relative;
    width: 280px;
    height: 160px;
    left:460px;
    bottom: 260px;
    background-color: rgba(15, 14, 13, 0.493);
    z-index: 1;
  }

  .border-window-continues {
    border: 2px solid rgb(8, 157, 243);
    position: relative;
    width: 350px;
    height: 160px;
    left:750px;
    bottom: 420px;
    background-color: rgba(15, 14, 13, 0.493);
    z-index: 1;
  }
