  .movedown-menu-more {
    background: rgb(0, 0, 0);
    min-width: 110px;
    height: 75px;
    position: absolute;
    left: 690px;
    list-style: none;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .movedown-link-more {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    right: 20px;
    position: relative;
    font-size: 15px !important;
  }

  .movedown-link-more:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out;
  }

  @media screen and (max-width: 960px) {
    .movedown-menu-more {
        background: rgb(0, 0, 0);
        position: absolute;
        min-width: 80px;
        top: 50px;
        left: 325px;
        list-style: none;
        text-align: center;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .movedown-link-more {
        font-size: 12px;
      }
  }