.movedown-menu-medicaments {
      background: rgb(0, 0, 0);
      width: 110px;
      position: absolute;
      top: 50px;
      right: 1275px;
      list-style: none;
      text-align: center;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .movedown-link-medicaments {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: #fff;
      padding: 10px;
      position: relative;
      font-size: 15px;
    }
  
    .movedown-link-medicaments:hover {
      transform: scale(1.1);
      transition: all 0.2s ease-out;
    }
  
    @media screen and (max-width: 960px) {
      .movedown-menu-medicaments {
          background: rgb(0, 0, 0);
          position: absolute;
          width: 80px;
          top: 50px;
          right: 590px;
          list-style: none;
          text-align: center;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          font-size: 15px;
          font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
  
        .movedown-link-medicaments {
          font-size: 12px;
        }
    }

    @media screen and (min-width:900px) and (max-width: 1000px) {
      .movedown-menu-medicaments {
        background: rgb(0, 0, 0);
        position: absolute;
        width: 80px;
        top: 50px;
        right: 630px;
        list-style: none;
        text-align: center;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 15px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .movedown-link-medicaments {
        font-size: 12px;
      }
    }